

.clockBody {
  color: black;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  font-size: 60px;
  padding-top: 30px;
  padding-right: 30px;
  text-align: right;


}

.dateBody {
  font-size: 20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-right: 40px;
  text-align: right;

}

.weatherBody {
  font-size: 60px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  text-align: left;
  top: 38px;
  position: absolute;
}

.forecastBody {
  font-size: 20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  text-align: left;
  top: 118px;
  position: absolute;
}

.image {
  height: 72px;
  width: 72px;
  padding-left: 130px;
  position: absolute;
  top: 50px;

}

.news {
  font-size:20px;
  font-family: ".SFNSText-Light",".SFUIText-Light",".HelveticaNeueDeskInterface-Light","HelveticaNeue","Segoe UI","Roboto","Arial","Apple Color Emoji",sans-serif;
  padding-left: 40px;
  padding-bottom: 5px;
}
